.campo-thanks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.thanks {
  margin: 0;
  margin-bottom: 20px;
  // text-shadow: 2px 2px 2px rgba(50, 50, 50, 0.75);
  font-size: 6.5vw;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 100px;
  opacity: 0.8;
  color: #9b9b9b;
  font-style: normal;
  background-color: #fff;
}

.thanks-text {
  // text-shadow: 2px 2px 2px rgba(50, 50, 50, 0.75);
  font-size: 3.8vw;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  opacity: 0.8;
  color: #9b9b9b;
  font-style: normal;
  margin: 5vh 3vw;
  background-color: #fff;
  line-height: 1.5;
}
