.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  // width: 100%;
  padding-bottom: 0;
  margin-bottom: 0;
}

.cancel-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.container-geral {
  margin: 70px auto;
  width: 60%;
}

.tit-sign-up {
  font-weight: 400;
  letter-spacing: 0.2rem;
  color: #868686;
  font-family: "Readex Pro", sans-serif;
  font-size: 22px;
  margin-bottom: 10px;
}

.container-sign-up {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin: 0 auto;
  position: relative;
}

.button-mg {
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: center;
}

.simple_form {
  margin-bottom: 4vh;
  font-weight: 200;
  letter-spacing: 0.2rem;
  color: #868686;
  font-family: "Readex Pro", sans-serif;
  font-size: 16px;
  text-transform: lowercase;
}

.form-content {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: space-between;
  align-items: initial;
}

.form-content h2 {
  font-weight: 400;
  letter-spacing: 0.2rem;
  color: #868686;
  font-family: "Readex Pro", sans-serif;
  font-size: 22px;
  margin-bottom: 10px;
}

.form-control {
  border-radius: 30px;
  border: 3px solid #ff5454;
  display: inline-block;
}

.form-check-input[type="checkbox"] {
  border-radius: 15px;
}

.form-check-input[type="checkbox"]:checked {
  background-color: #ff5454;
}

.btn {
  // padding: 3px 45.5%;
  border-radius: 30px;
  border: 3px solid #8054ff;
  font-weight: 400;
  color: #8054ff;
  font-family: "Readex Pro", sans-serif;
  font-size: 20px;
  text-transform: lowercase;
  margin: o auto;
}

.btn:hover {
  border: 3px solid #8054ff;
  background-color: #8054ff;
  color: #fff;
  font-weight: 400;
}

.form-check-label {
  color: #868686;
  font-weight: 200;
}

.link-below {
  text-decoration: none;
  font-weight: 200;
  color: #868686;
  font-family: "Readex Pro", sans-serif;
  font-size: 12px;
  text-transform: lowercase;
  position: absolute;
}

.link-below:hover {
  color: #ff5454;
}

.form-container-up {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 13vh;
  width: 100%;
  flex-direction: column;
}

::placeholder {
  font-weight: 200;
  color: #868686;
  font-family: "Readex Pro", sans-serif;
  opacity: 0.2;
  font-size: 14px;
}

.btn-p {
  text-decoration: none;
  font-weight: 200;
  color: #868686;
  font-family: "Readex Pro", sans-serif;
  font-size: 14px;
  text-transform: lowercase;
  position: absolute;
  right: 250px;
  bottom: 160px;
}

.btn-p:hover {
  color: rgb(255, 0, 0);
}

.btn-delete {
  text-decoration: none;
  font-weight: 200;
  color: #868686;
  font-family: "Readex Pro", sans-serif;
  font-size: 14px;
  text-transform: lowercase;
  width: 20%;
  margin-top: 3px;
}

.btn-delete:hover {
  color: rgb(255, 0, 0);
}

#animal_specie,
#animal_genre {
  border-radius: 30px;
  border: 3px solid #ff5454;
  display: inline-block;
}

