<footer class="footer">
  <div class="footer-container">
    <div class="social">
      <%=link_to ("http://www.facebook.com"), class:"social-icon text-decoration-none" do %>
      <i class="lni lni-facebook-filled"></i>
      <%end%>
      <%=link_to ("http://www.instagram.com"), class:"social-icon text-decoration-none" do %>
      <i class="lni lni-instagram-original"></i>
      <%end%>
      <%=link_to ("http://www.twitter.com"), class:"social-icon text-decoration-none" do %>
      <i class="lni lni-twitter-filled"></i>
      <%end%>
      <%=link_to ("http://www.youtube.com"), class:"social-icon text-decoration-none" do %>
      <i class="lni lni-youtube"></i>
      <%end%>
    </div>
    <div class="pilares">
      <a id="content" href="#" target="_blank">vision</a>
      <a id="content" href="#" target="_blank">mission</a>
      <a id="content" href="#" target="_blank">values</a>
    </div>
  </div>
</footer>
