<div class="banner" style="background-image:url(<%= image_url('pagina_adocao.png') %>);">
  <div class="container text-home">
    <h1>Good one, Tony!</h1>
    <h2>now let’s hope Chad gets back to you in no time, so you and your new pet can finally meet!</h2>
  </div>
</div>
<%#= current_user.email%>
