<div class="banner" style="background-image:url(<%= image_url('pagina_adocao.png') %>);">
  <div class="campo-thanks text-home">
    <h1 class="thanks">Nicely done, <%=current_user.name%>!</h1>
    <h2 class="thanks-text">now let’s hope Chad gets back to you in no time, so you and your new pet can finally meet!</h2>
  </div>
</div>
<%#= current_user.email%>
