<div class="banner" style="background-image:url(<%= image_url('animal.jpg') %>);">
  <div class="container text-home">
    <%= link_to "ADOPT. DON'T SHOP.", animals_path, class:"hello" %>
  </div>
</div>
