  <div class="row">
    <div class="col-12 filterbar">

    <form>
      <input type = "checkbox" name = "specie" value = "ATUALIZAR">
      <label for = "subscribeNews"> specie </label>
      <input type = "checkbox" name = "gender" value = "ATUALIZAR">
      <label for = "subscribeNews"> gender </label>
      <input type = "checkbox" name = "castrate" value = "ATUALIZAR">
      <label for = "subscribeNews"> castrate </label>
      <input type="text" placeholder="behavior, size, colour, and other qualities :)">
      <button type = "submit"> filtrar </button>
    </form>

    </div>
  </div>


<div class="container">
  <div class="row">
    <div class="cards my-3">
      <% @animals.each do |animal| %>
        <%= link_to animal do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= animal.photos.attached? ? cl_image_path(animal.photos.first.key) : 'https://img.freepik.com/free-vector/adopt-pet-concept_23-2148523582.jpg' %>)">
          <p class= "detail">genre: <span class="detail-plus"><%= animal.genre%></span> | <span class="detail-plus">age: <%= animal.age%></p></span>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
