  <div class="row">
    <div class="col-12 filterbar">
      <form>
        <div class="specie-check">
          <input type = "checkbox" id = "specie-cat" name = "cat" value = "ATUALIZAR">
          <label for = "specie"> cat </label>
          <input type = "checkbox" id = "specie-dog" name = "cat" value = "ATUALIZAR">
          <label for = "specie"> dog </label>
        </div>
        <div class="gendere-check">
          <input type = "checkbox" id = "gender-male" name = "male" value = "ATUALIZAR">
          <label for = "gender"> male </label>
          <input type = "checkbox" id = "gender-female" name = "female" value = "ATUALIZAR">
          <label for = "gender"> female </label>
        </div>
        <div class="castrate-check">
          <input type = "checkbox" id = "castrated" name = "castrate" value = "ATUALIZAR">
          <label for = "castrate"> castrated </label>
        </div>
      </form>

      <form>
        <input type="text" placeholder="behavior, size, colour, and other qualities :)">
        <button type = "submit"> filter </button>
      </form>

      <form>
        <input type = "checkbox" id = "my-address" name = "my-address" value = "ATUALIZAR">
        <label for = "castrate">use registered address </label>
      </form>

      <form>
        <input type="text" id="my-current-address" placeholder ="my current address">
        <label for = "my-current-address"> use a new address </label>
        <button type = "submit"> find </button>
      </form>

      <form>
        <input type= "text" id= "range" placeholder ="range in km">
        <label for = "range"> range within </label>
        <button type = "submit"> find </button>
      </form>
    </div>
  </div>


<div class="container">
  <div class="row">
    <div class="cards my-3">
      <% @animals.each do |animal| %>
        <%= link_to animal do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= animal.photos.attached? ? cl_image_path(animal.photos.first.key) : 'https://img.freepik.com/free-vector/adopt-pet-concept_23-2148523582.jpg' %>)">
          <p class= "detail">genre: <span class="detail-plus"><%= animal.genre%></span> | <span class="detail-plus">age: <%= animal.age%></p></span>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
