.filterbar {
  background: linear-gradient(to bottom, #f4f4f4e5, #f4f4f4);
  height: 125px;
  position: fixed;
  width: 100%;
  margin: 0;
}

.filterbar-margin {
  display: flex;
  // background-color: black;
  width: 89%;
  margin: 3px auto;
  height: 100%;
  justify-content: space-between;
}

.field-pet {
  width: 49%;
}

.field-pet2 {
  width: 49%;
  // display: flex;
}

.separation {
  margin-top: 10px;
  margin-bottom: 10px;
}

.flex-slide {
  display: flex;
  justify-content: space-between;
  width: 82%;
  align-items: flex-start;
}

.separation-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
}

.separation-vertical2 {
  flex-direction: column;
  justify-content: start;
  position: relative;
}

.btn-small,
label {
  // border-radius: 150px;
  border: none;
  background: none;
  font-weight: 200;
  color: #868686;
  font-family: "Readex Pro", sans-serif;
  font-size: 14px;
  text-transform: lowercase;
  // margin: 5px auto 0;
}

.btn-small-2 {
  // border-radius: 150px;
  border: none;
  background: none;
  font-weight: 400;
  color: #868686;
  font-family: "Readex Pro", sans-serif;
  text-transform: lowercase;
  font-size: 15px;
  margin-top: 5px;
}

.btn-small:hover,
.btn-small-2:hover,
label:hover {
  color: #8054ff;
}

.btn-small-with-border {
  background: none;
  font-weight: 400;
  color: #868686;
  font-family: "Readex Pro", sans-serif;
  font-size: 14px;
  text-transform: lowercase;
  margin: o auto;
}

input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &:focus {
    outline: none;
  }
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  &::-moz-range-thumb {
    border: none;
  }
}
.range-position {
  margin-left: 15px;
}

input[type="range"] {
  cursor: pointer;
  outline: 0;
  border: 0;
  border-radius: 20px;
  width: 250px;
  // margin: 24px 0 16px;
  transition: box-shadow 0.2s ease-in-out;
  // Chrome
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    & {
      cursor: pointer;
      overflow: hidden;
      height: 20px;
      -webkit-appearance: none;
      background-color: #ddd;
    }
    &::-webkit-slider-thumb {
      cursor: pointer;
      width: 20px;
      -webkit-appearance: none;
      height: 20px;
      cursor: ew-resize;
      background: #ff5454;
      box-shadow: -340px 0 0 330px #ff5454, inset 0 0 0 40px #ff5454;
      border-radius: 50%;
      transition: box-shadow 0.2s ease-in-out;
      position: relative;
      // top: 1px;
    }
    &:active::-webkit-slider-thumb {
      cursor: pointer;
      background: #8054ff;
      box-shadow: -340px 0 0 330px #8054ff, inset 0 0 0 3px #8054ff;
    }
  }
}
