.tit-sign-up {
  font-weight: 400;
  letter-spacing: 0.2rem;
  color: #868686;
  font-family: "Readex Pro", sans-serif;
  font-size: 22px;
  margin-bottom: 10px;
}

.container-sign-up {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin: 0 auto;
  position: relative;
}

.mapboxgl-ctrl-geocoder--input {
  font: inherit;
  width: 100%;
  background-color: transparent;
  margin: 0;
  height: 50px;
  color: #404040;
  color: rgba(0, 0, 0, 0.75);
  padding: 6px 45px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 30px;
  border: 3px solid #ff5454;
  display: inline-block;
}
